*{
  text-align:center;
  font-family: Helvetica, sans-serif;
}

.header{
  font-size:70px;
  font-weight:bold;
  color:white;
  padding:0;
  margin: 0;
}

ul{
  list-style-type:none;
  padding:0;
}

li a{
  font-size:18px;
  display: block;
  padding-top:20px;
  color:white;
}

.background{
  background-image:url("../images/building.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  padding-bottom: 1px;
}

.subheader{
  font-size: 32px;
  font-weight:bold;
}

.thirdheader{
  font-size: 23px;
  font-weight:bold;
}

.notes{
  font-size:14px;
}

.design{
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image:url("../images/building.png");
}

.pagebottom{
font-size: 11px;
float:left;
color: white;
}

#bottomnav{
  background-color: dimgray;
  text-align: left;
}

#bottomnav a {
  color: white;
  padding-left:2px;
}
